# General Packages
notebook
python-dotenv 
halo
pydantic==1.10.9

# Document processing
mammoth
pymupdf

# Packages for LLMs
langchain==0.0.342
huggingface_hub
tiktoken
together
cohere
openai
chromadb

# UI
streamlit

# Knowledge Graph Database
neo4j