# General Packages
notebook
python-dotenv 
halo
pydantic==1.10.9

# Document processing
mammoth
pymupdf

# Packages for LLMs
langchain
huggingface_hub
tiktoken
together
cohere
openai
chromadb

# UI
streamlit