## Save the file as secrets.env inside the config folder ##
OPENAI_API_KEY="<your-openai-api-key>"
GOOGLE_API_KEY="<your-google-api-key>"
NEO4J_URI="<neo4j-uri>"
NEO4J_USERNAME="<neo4j-username>"
NEO4J_PASSWORD="<neo4j-password>"
NEO4J_DATABASE="neo4j" # Only needs to be changed if you have multiple databases under the same URI